.rectangle {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 234px;
 }
 .calc-swift-2 {
    position: absolute;
    top: -109px;
    left: -65.84px;
    width: 582px;
    height: 291px;
    object-fit: cover;
 }
 @media (max-width: 767px) {
   .calc-swift-2 {
   left: -100px }
}
 .frame2 {
    position: absolute;
    width: 94.57%;
    top: 17px;
    right: 2.72%;
    left: 2.72%;
    height: 234px;
 }
 .frame1 {
    position: absolute;
    width: 51.67%;
    top: 105px;
    right: 44.25%;
    left: 4.08%;
    height: 238px;
 }
 .calc-swift-1-1 {
    position: absolute;
    top: 185px;
    left: 759px;
    width: 427px;
    height: 119px;
    object-fit: cover;
 }
 .calculator {
    position: absolute;
    top: 50px;
    left: calc(50% - 73px);
    display: inline-block;
    width: 169px;
    height: 109px;
 }
 .frame-child {
    position: absolute;
    top: 304px;
    left: 14px;
    width: 1172px;
    height: 816.5px;
 }
 @media (max-width: 767px) {
   .frame-child {
       width: 370px;
       left: -54px;
   }
}
 .rectangle1 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 230px;
 }
 .rectangle3 {
    position: absolute;
    width: 10.37%;
    top: 1px;
    right: 0.17%;
    left: 89.46%;
    border-radius: var(--br-31xl);
    background-color: #eb0366;
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 42px;
 }
 @media (max-width: 767px) {
   .rectangle3 {
       width: 50px;
   }
}
 .c {
    position: absolute;
    top: 7px;
    left: 557px;
 }
 @media (max-width: 767px) {
   .c {
   left: 110px}
}
 .rectangle4 {
    position: absolute;
    width: 94.39%;
    top: 1px;
    right: 5.44%;
    left: 0.17%;
    border-radius: var(--br-31xl);
    background-color: #888a8b;
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 42px;
 }
 @media (max-width: 767px) {
   .rectangle4 {
       width: 180px;
   }
}
 .frame4 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 54px;
 }
 .rectangle5 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 42px;
 }
 @media (max-width: 767px) {
   .rectangle5 {
       width: 50px;
   }
}
 .rectangle6 {
    position: absolute;
    width: 28.91%;
    top: 1px;
    right: 41.33%;
    left: 29.76%;
    border-radius: var(--br-31xl);
    background-color: var(--color-deeppink-100);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 40px;
 }
 .b {
    position: absolute;
    top: 6px;
    left: 252px;
 }
 @media (max-width: 767px) {
   .b {
   left: 40px}
}
 .rectangle7 {
    position: absolute;
    width: 10.37%;
    top: 1px;
    right: 0.17%;
    left: 89.46%;
    border-radius: var(--br-31xl);
    background-color: var(--color-palevioletred-100);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 40px;
 }
 @media (max-width: 767px) {
   .rectangle7 {
       width: 50px;
   }
}
 .b1 {
    position: absolute;
    top: 6px;
    left: 551px;
    color: #fffefe;
 }
 @media (max-width: 767px) {
   .b1 {
   left: 115px}
}
 .rectangle8 {
    position: absolute;
    width: 29.42%;
    top: 1px;
    right: 11.22%;
    left: 59.35%;
    border-radius: var(--br-31xl);
    background-color: var(--color-deeppink-100);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 40px;
 }
 .b2 {
    position: absolute;
    top: 6px;
    left: 428px;
 }
 @media (max-width: 767px) {
   .b2 {
   left: 75px}
}
 .rectangle9 {
    position: absolute;
    width: 28.91%;
    top: 1px;
    right: 70.92%;
    left: 0.17%;
    border-radius: var(--br-31xl);
    background-color: var(--color-deeppink-100);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 40px;
 }
 .b3 {
    position: absolute;
    top: 6px;
    left: 77px;
 }
 @media (max-width: 767px) {
   .b3 {
   left: 5px}
}
 .frame5 {
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0%;
    left: 0%;
    height: 42px;
 }
 .b4 {
    position: absolute;
    top: 6px;
    left: 251px;
 }
 @media (max-width: 767px) {
   .b4 {
   left: 40px}
}
 .b5 {
    position: absolute;
    top: 12px;
    left: 550px;
 }
 @media (max-width: 767px) {
   .b5 {
   left: 45px}
}
 .rectangle13 {
    position: absolute;
    width: 28.91%;
    top: 1px;
    right: 70.92%;
    left: 0.17%;
    border-radius: var(--br-31xl);
    background-color: var(--color-palevioletred-200);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 40px;
 }
 .b6 {
    position: absolute;
    top: 1px;
    left: 82px;
    color: var(--color-gray-100);
 }
 @media (max-width: 767px) {
   .b6 {
   left: 5px}
}
 .rectangle14 {
    position: absolute;
    width: 29.42%;
    top: 1px;
    right: 11.22%;
    left: 59.35%;
    border-radius: var(--br-31xl);
    background-color: var(--color-palevioletred-200);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 40px;
 }
 .b7 {
    position: absolute;
    top: 6px;
    left: 427px;
    color: var(--color-gray-100);
 }
 @media (max-width: 767px) {
   .b7 {
   left: 130px}
}
 .frame6 {
    position: absolute;
    width: 100%;
    top: 188px;
    right: 0%;
    left: 0%;
    height: 42px;
 }
 .b8 {
    position: absolute;
    top: 6px;
    left: 80px;
 }
 @media (max-width: 767px) {
   .b8 {
   left: 5px}
}
 .b10 {
    position: absolute;
    top: 6px;
    left: 552px;
    color: #fffeff;
 }
 @media (max-width: 767px) {
   .b10 {
   left: 115px}
}
 .frame7 {
    position: absolute;
    width: 100%;
    top: 56px;
    right: 0%;
    left: 0%;
    height: 42px;
 }
 .b14 {
    position: absolute;
    top: 6px;
    left: 548px;
 }
 @media (max-width: 767px) {
   .b14 {
   left: 115px}
}
 .b15 {
    position: absolute;
    top: 6px;
    left: 78px;
 }
 @media (max-width: 767px) {
   .b15 {
   left: 5px}
}
 .frame8 {
    position: absolute;
    width: 100%;
    top: 144px;
    right: 0%;
    left: 0%;
    height: 42px;
 }
 .frame3 {
    position: absolute;
    width: 49%;
    top: 598px;
    right: 25.75%;
    left: 25.25%;
    height: 229px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-inter);
 }
 .calc-swift-2-1 {
    position: absolute;
    top: 161px;
    left: 630px;
    width: 435px;
    height: 167px;
    object-fit: cover;
 }
 @media (max-width: 767px) {
   .calc-swift-2-1 {
      left: -40px;
   top: 300px}
}
 .frame {
    position: relative;
    background-color: var(--color-plum);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 1335px;
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    color: var(--color-plum);
    font-family: var(--font-roboto);
 }
 
 
 